/* Screen Size Definations
=============================== */
/* Mixins - min width
================================ */
/* Mixins - max width
================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: "Varela", sans-serif !important;
}

.offcanvas {
  background-color: rgba(220, 9, 8, 0.9) !important;
  width: 330px !important;
}
@media (min-width: 992px) {
  .offcanvas {
    margin-top: 5rem;
    margin-right: 4rem;
  }
}
@media (min-width: 1200px) {
  .offcanvas {
    margin-right: 9rem;
  }
}
.offcanvas .active {
  color: black !important;
}
.offcanvas .nav-item a {
  font-size: 20px;
}
.offcanvas .nav-item a:hover {
  color: black !important;
}

.about-banner .banner-content h1, .service-banner .banner-content h1, .pricing-banner .banner-content h1, .portfolio-banner .banner-content h1, .contact-banner .banner-content h1 {
  font-family: "Cinzel", serif;
  font-size: 3.2rem;
}
.about-banner .banner-content h1 .head-border, .service-banner .banner-content h1 .head-border, .pricing-banner .banner-content h1 .head-border, .portfolio-banner .banner-content h1 .head-border, .contact-banner .banner-content h1 .head-border {
  border-bottom: 2px solid;
  border-left: 2px solid;
}
@media (min-width: 767px) {
  .about-banner .banner-content h1, .service-banner .banner-content h1, .pricing-banner .banner-content h1, .portfolio-banner .banner-content h1, .contact-banner .banner-content h1 {
    padding: 4rem 0;
    font-size: 4.5rem;
  }
}

.section1-banner {
  background-image: url(/public/images/section\ 1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 992px) {
  .section1-banner {
    height: 100vh;
  }
}
.section1-banner .banner-content h1 {
  font-family: "Cinzel", serif;
}
.section1-banner .banner-content h1 .head-border {
  border-bottom: 2px solid;
  border-left: 2px solid;
}
@media (min-width: 992px) {
  .section1-banner .banner-content h1 {
    font-size: 3.8rem;
  }
}
@media (min-width: 1200px) {
  .section1-banner .banner-content h1 {
    font-size: 5rem;
  }
}
.section1-banner .banner-content p {
  font-family: "Times New Roman", Times, serif;
}
@media (min-width: 1200px) {
  .section1-banner .banner-content p {
    font-size: 2.3rem;
    letter-spacing: 6px;
  }
}
.section1-banner .banner-btn button {
  margin-bottom: 4rem;
}

.footer {
  background-image: url(/public/images/section\ 7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer p {
  text-align: justify;
  letter-spacing: 1px;
}
.footer img {
  width: 100px;
}
.footer .foot-fw {
  font-weight: 100;
}

.section2-about {
  font-family: "Varela", sans-serif;
  position: relative;
}
.section2-about .about-bg {
  background-color: #ECECEC;
}
.section2-about .about-bg h2 {
  font-size: 4.5rem;
  color: rgb(249, 249, 249);
  letter-spacing: 10px;
}
@media (min-width: 1200px) {
  .section2-about .about-bg h2 {
    font-size: 5.5rem;
  }
}
.section2-about .about-bg .l-posi {
  color: rgb(87, 83, 83);
}
@media (min-width: 992px) {
  .section2-about .about-bg .l-posi {
    position: relative;
    bottom: 70px;
    left: 10px;
  }
}
@media (min-width: 1200px) {
  .section2-about .about-bg .l-posi {
    position: relative;
    bottom: 80px;
    left: 40px;
  }
}
.section2-about .about-para {
  background-color: white;
  text-align: justify;
}
@media (min-width: 1024px) {
  .section2-about .about-para {
    position: absolute;
    right: 100px;
    left: 350px;
    top: 115px;
    bottom: 0;
  }
}
@media (min-width: 1200px) {
  .section2-about .about-para {
    position: absolute;
    right: 170px;
    left: 450px;
    top: 180px;
    bottom: 0;
  }
}
@media (min-width: 1400px) {
  .section2-about .about-para {
    position: absolute;
    right: 230px;
    left: 500px;
    top: 190px;
    bottom: 0;
  }
}
.section2-about button {
  background-color: black;
  color: white;
}
@media (min-width: 1200px) {
  .section2-about button {
    margin-left: 3.8rem !important;
  }
}

.about-banner, .about-section2, .about-section4 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela", sans-serif;
}

.about-banner {
  background-image: url(/public/images/about_section\ 1.jpg);
}

.about-section2 {
  background-image: url(/public/images/about_section\ 2.jpg);
}
.about-section2 h2 {
  font-size: 2.8rem;
}
.about-section2 p {
  font-size: large;
}
.about-section2 .img-txt {
  background-color: #e9e8e8;
  width: 70%;
  position: relative;
  bottom: 55px;
}

.about-section3 {
  font-family: "Varela", sans-serif;
}
.about-section3 .s3-1 {
  background-color: #ECECEC;
}
.about-section3 .s3-1 p {
  text-align: justify;
  color: rgb(112, 111, 111);
}
@media (min-width: 1200px) {
  .about-section3 .s3-1 {
    padding: 4rem 0 4rem 8rem !important;
  }
}
.about-section3 .s3-2 {
  background-color: #EBE2DB;
}
@media (min-width: 992px) {
  .about-section3 .s3-2 img {
    position: relative;
    right: 160px;
    top: 75px;
  }
}
@media (min-width: 1200px) {
  .about-section3 .s3-2 img {
    position: relative;
    right: 190px;
    top: 90px;
  }
}
@media (min-width: 1400px) {
  .about-section3 .s3-2 img {
    position: relative;
    right: 220px;
    top: 65px;
  }
}

.about-section4 {
  background-image: url(/public/images/about_section\ 4.jpg);
}
.about-section4 .p-tb {
  padding: 7.5rem 0;
}
.about-section4 i {
  font-size: 4rem;
  padding: 1rem;
  outline: 1px solid;
  border-radius: 50%;
}

.about-section5 {
  background-color: #ECECEC;
}
.about-section5 .carousel-icon {
  color: #000;
  background-color: #ECECEC;
}

.section3-service, .service-banner, .service-section4 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela", sans-serif;
}

.section3-service {
  background-image: url(/public/images/section\ 3.jpg);
}
.section3-service p {
  text-align: justify;
}
.section3-service span {
  background-color: rgba(255, 3, 3, 0.9);
  border-radius: 50%;
  padding: 10px 4px 10px 14px;
}
.section3-service button {
  background-color: #E30F0F;
}

.service-banner {
  background-image: url(/public/images/service_sec\ 1.jpg);
}

.service-section2 {
  font-family: "Varela", sans-serif;
}
.service-section2 .s2-1 {
  background-color: #ECECEC;
}
.service-section2 .s2-1 p {
  text-align: justify;
  color: rgb(112, 111, 111);
}
@media (min-width: 992px) {
  .service-section2 .s2-1 {
    padding: 1rem 0 1rem 3rem !important;
  }
}
@media (min-width: 1200px) {
  .service-section2 .s2-1 {
    padding: 3rem 0 3rem 8rem !important;
  }
}
@media (min-width: 1400px) {
  .service-section2 .s2-1 {
    padding: 5rem 0 5rem 8rem !important;
  }
}
.service-section2 .s2-2 {
  position: relative;
}
@media (min-width: 992px) {
  .service-section2 .s2-2 .img-b {
    position: relative;
    right: 110px;
    top: 20px;
  }
}
@media (min-width: 1200px) {
  .service-section2 .s2-2 .img-b {
    position: relative;
    top: 0px;
  }
}
@media (min-width: 992px) {
  .service-section2 .s2-2 .img-f {
    position: absolute;
    right: 0;
    left: -130px;
    top: 210px;
  }
}
@media (min-width: 1200px) {
  .service-section2 .s2-2 .img-f {
    position: absolute;
    top: 310px;
  }
}
@media (min-width: 1400px) {
  .service-section2 .s2-2 .img-f {
    position: absolute;
    top: 340px;
  }
}

.service-section3 {
  background-color: #1E1C1C;
  font-family: "Varela", sans-serif;
}
.service-section3 img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.service-section3 .line-btm {
  border-bottom: 1px solid;
}
.service-section3 span {
  background-color: #FB004B;
  border-radius: 50%;
  padding: 10px 0 10px 8px;
}
.service-section3 .rotate-txt {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  letter-spacing: 15px;
}
@media (min-width: 992px) {
  .service-section3 .p-rl {
    padding: 0 35px !important;
  }
}

.service-section4 {
  background-image: url(/public/images/service_sec\ 4.jpg);
}
.service-section4 .j-p {
  text-align: justify;
}
.service-section4 .br-line {
  border-bottom: 1px solid;
}
.service-section4 .st-line {
  border-left: 2px solid;
}
.service-section4 span {
  background-color: #FB004B;
  border-radius: 50%;
  padding: 12px 2px 12px 10px;
}

.section4-pricing, .pricing-banner, .pricing-bg, .pricing-section2, .pricing-section3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela", sans-serif;
}

.section4-pricing {
  background-image: url(/public/images/section\ 4.jpg);
}
.section4-pricing img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.section4-pricing .price-bg {
  background-color: rgba(255, 255, 255, 0.9);
}
.section4-pricing .price-bg .c-br {
  border-bottom: 1px dotted;
}
.section4-pricing .price-bg .c-txt {
  color: rgb(92, 90, 90);
}
@media (min-width: 992px) {
  .section4-pricing .price-bg .c-txt {
    font-size: larger;
  }
}
@media (min-width: 767px) {
  .section4-pricing .br-btm {
    border-bottom: 1px dotted rgb(92, 90, 90);
    width: 95%;
  }
}
.section4-pricing button {
  background-color: #E30F0F;
}
.section4-pricing button:hover {
  color: black !important;
}
.section4-pricing .p-btm {
  padding: 6rem 0;
  background-color: #ECECEC;
}

.pricing-banner {
  background-image: url(/public/images/price_sec\ 1.jpg);
}

.pricing-bg {
  background-image: url(/public/images/price_bg.jpg);
  background-attachment: fixed;
}
.pricing-bg .pricing-section2 {
  background-image: url(/public/images/price_sec\ 2.jpg);
}
.pricing-bg .pricing-section2 .c-br {
  border-bottom: 1px dotted;
}
.pricing-bg .pricing-section2 .head-br, .pricing-bg .pricing-section2 .head-br2, .pricing-bg .pricing-section2 .head-br3 {
  border-bottom: 1px solid;
}
@media (min-width: 992px) {
  .pricing-bg .pricing-section2 .head-br {
    width: 40%;
  }
}
@media (min-width: 992px) {
  .pricing-bg .pricing-section2 .head-br2 {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .pricing-bg .pricing-section2 .head-br2 {
    width: 58%;
  }
}
@media (min-width: 992px) {
  .pricing-bg .pricing-section2 .head-br3 {
    width: 75%;
  }
}
.pricing-bg .pricing-section3 {
  background-image: url(/public/images/price_sec\ 3.jpg);
  padding-bottom: 12.5rem;
}
.pricing-bg .pricing-package .btm-br {
  border-top: 1px solid !important;
}
.pricing-bg .pricing-package button {
  background-color: #FB004B;
}
.pricing-bg .pricing-package p {
  color: rgb(219, 216, 216);
}
.pricing-bg .pricing-package .clr-red {
  color: rgba(250, 110, 110, 0.7254901961);
}

.section5-testimonials {
  background-image: url(/public/images/section\ 5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela", sans-serif;
}
.section5-testimonials .c-bg {
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}
.section5-testimonials .c-bg p {
  text-align: justify;
}
@media (min-width: 1024px) {
  .section5-testimonials .c-bg h4 {
    position: absolute;
    right: 150px;
    top: 240px;
  }
}
@media (min-width: 1200px) {
  .section5-testimonials .c-bg h4 {
    position: absolute;
    right: 160px;
    top: 250px;
  }
}
@media (min-width: 1400px) {
  .section5-testimonials .c-bg h4 {
    position: absolute;
    right: 195px;
    top: 225px;
  }
}
.section5-testimonials .c-bg img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.section6-contact, .contact-banner, .contact-section2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela", sans-serif;
}

.section6-contact {
  background-image: url(/public/images/section\ 6.jpg);
}
.section6-contact button {
  background-color: #E30F0F;
}
.section6-contact input, .section6-contact select, .section6-contact textarea {
  border: 1px solid rgb(168, 168, 168);
}
.section6-contact input::-moz-placeholder, .section6-contact select::-moz-placeholder, .section6-contact textarea::-moz-placeholder {
  color: rgb(117, 116, 116);
}
.section6-contact input::placeholder, .section6-contact select::placeholder, .section6-contact textarea::placeholder {
  color: rgb(117, 116, 116);
}
@media (min-width: 767px) {
  .section6-contact .mt-c2 {
    margin-top: 6.5rem;
  }
}
.section6-contact .btm-bg {
  background-color: #ECECEC;
}
@media (min-width: 767px) {
  .section6-contact .input-posi {
    position: relative;
    top: 96px;
  }
}

.icon-br {
  background-color: #E30F0F;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.icon-br i {
  color: #fff;
}

.br-btm {
  border-bottom: 1px dotted;
  width: 80%;
}
@media (min-width: 992px) {
  .br-btm {
    width: 65%;
  }
}

.contact-banner {
  background-image: url(/public/images/contact_sec\ 1.jpg);
}

@media (min-width: 1200px) {
  .contact-section1 .br-btm {
    width: 85%;
  }
}

.contact-section2 {
  background-image: url(/public/images/contact_sec\ 2.jpg);
}
.contact-section2 input::-moz-placeholder, .contact-section2 select::-moz-placeholder, .contact-section2 textarea::-moz-placeholder {
  color: black;
}
.contact-section2 input::placeholder, .contact-section2 select::placeholder, .contact-section2 textarea::placeholder {
  color: black;
}

.portfolio-banner {
  background-image: url(/public/images/portfiolio/Portfolio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-section1 {
  font-family: "Varela", sans-serif;
}
.portfolio-section1 .active {
  background-color: #FB004B;
}
.portfolio-section1 a:hover {
  background-color: #FB004B;
}/*# sourceMappingURL=style.css.map */