.footer{
    background-image: url(/public/images/section7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // font-family: 'Varela', sans-serif;
    p{
        text-align: justify;
        letter-spacing: 1px; 
    }
    img{
        width: 100px;
    }
    .foot-fw{
        font-weight: 100;
    }
}