.section1-banner{
    background-image: url(/public/images/section1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include media-min-lg{
        height: 100vh;
    }
    .banner-content{
        h1{
            font-family: 'Cinzel', serif;
            .head-border{
                border-bottom: 2px solid;
                border-left: 2px solid;
            }
            @include media-min-lg{
                font-size: 3.8rem;
            }
            @include media-min-xl{
                font-size: 5rem;
            }
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            @include media-min-xl{
                font-size: 2.3rem;
                letter-spacing: 6px;
            }
        }
    }
    .banner-btn button{
        margin-bottom: 4rem;
    }
}